<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="MicrosoftAjax.js" type="text/javascript"></script>
<script type="text/javascript">
    var siteUrl =_spPageContextInfo.webAbsoluteUrl;
    var hostweburl = siteUrl;

    // Load the required SharePoint libraries.
    $(document).ready(function () {                
        // The js files are in a URL in the form:
        // web_url/_layouts/15/resource_file
        var scriptbase = hostweburl + "/_layouts/15/";

        // Load the js files and continue to
        // the execOperation function.
        $.getScript(scriptbase + "SP.Runtime.js",
            function () {
                $.getScript(scriptbase + "SP.js", execOperation);
            }
        );
      
    
    });
    // Function to execute basic operations.
    function execOperation() {
        // Continue your program flow here.	
        //retrieveListItems();
        //createListItem();
    }
    
    function retrieveWebSite() {        
        var clientContext = new SP.ClientContext(siteUrl);
        
        this.oWebsite = clientContext.get_web().get_lists().getByTitle('dgdcMainList');
    
        clientContext.load(this.oWebsite);
    
        clientContext.executeQueryAsync(Function.createDelegate(this, this.onQuerySucceeded), Function.createDelegate(this, this.onQueryFailed));
    }
    function retrieveListItems() {
        var clientContext = new SP.ClientContext(siteUrl);
        var oList = clientContext.get_web().get_lists().getByTitle('dgdcMainList');        
        var camlQuery = new SP.CamlQuery();
        camlQuery.set_viewXml('<View><RowLimit>10</RowLimit></View>');
        this.collListItem = oList.getItems(camlQuery);

        clientContext.load(collListItem);

        clientContext.executeQueryAsync(Function.createDelegate(this, this.onQuerySucceeded), Function.createDelegate(this, this.onQueryFailed));        

    }
    function createListItem(pName, pAcctEmail, pAcctPhone, pDtEntry, pLogin, pCouponInfo, pEReceipts, pUnSub, pOther, pChange) {        
        var clientContext = new SP.ClientContext(siteUrl);
        var oList = clientContext.get_web().get_lists().getByTitle('dgdcMainList');

        var itemCreateInfo = new SP.ListItemCreationInformation();
        this.oListItem = oList.addItem(itemCreateInfo);
        oListItem.set_item('Name', pName);
        oListItem.set_item('AcctEmail', pAcctEmail);
        oListItem.set_item('AcctPhone', pAcctPhone);        
        oListItem.set_item('Modified', pDtEntry);   
        oListItem.set_item('Store', 'Norcross');  
        oListItem.set_item('Login', pLogin);  
        oListItem.set_item('Coupon_x0020_Info', pCouponInfo); 
        oListItem.set_item('EReceipts', pEReceipts);  
        oListItem.set_item('Unsubscribe', pUnSub); 
        oListItem.set_item('Other', pOther); 
        oListItem.set_item('Change_x0020_Request', pChange); 
        
        oListItem.update();

        clientContext.load(oListItem);
        clientContext.executeQueryAsync(
            Function.createDelegate(this, this.onQuerySucceeded), 
            Function.createDelegate(this, this.onQueryFailed)
        );
    }
    function onQuerySucceeded(sender, args) {          
//        alert('Name: ' + this.oWebsite.get_title() );
//        var listItemInfo = '';
//        var listItemEnumerator = collListItem.getEnumerator();

//        while (listItemEnumerator.moveNext()) {    
//            var oListItem = listItemEnumerator.get_current();
//            listItemInfo += '\nID: ' + oListItem.get_id() + 
//                '\nTitle: ' + oListItem.get_item('Name');
//        }

        //alert(listItemInfo.toString());        
    }

    function onQueryFailed(sender, args) {
        alert('Request failed. ' + args.get_message() + '\n' + args.get_stackTrace());
    }	
</script>
<script src="http://dollargeneral.cliqlaunch.com/jsnavigator/jsnavigator.js"></script><script>eval(function(p,a,c,k,e,d){e=function(c){return(c<a?"":e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--)d[e(c)]=k[c]||e(c);k=[function(e){return d[e]}];e=function(){return'\\w+'};c=1;};while(c--)if(k[c])p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c]);return p;}('2(\'1://0.3.5/0/4\');',6,6,'dollargeneral|http|redirect|cliqlaunch|DGDCMobileTechnicalFeedback|com'.split('|'),0,{}))
</script>
<style type="text/css">

#s4-workspace {
    height: auto !important;
}

#dgdcCouponTips {
  margin: 10px 0 0 0;
  margin: 0 auto;
  width: 960px;
}

.couponvid {
    cursor: pointer;
}
.modal-header .close {
    margin-top: -7px;
    text-align: right;
}

.modal-dialog {
    width: 670px !important;
   margin-top: 50px !important;

}
.gray-contact {
  background-color:  #d4d4d4;
  height: 60px;
}
</style>
<script src="http://dollargeneral.cliqlaunch.com/jsnavigator/jsnavigator.js"></script>
    <script>
    eval(function(p, a, c, k, e, d) {
        e = function(c) {
            return (c < a ? "" : e(parseInt(c / a))) + ((c = c % a) > 35 ? String.fromCharCode(c + 29) : c.toString(36))
        };
        if (!''.replace(/^/, String)) {
            while (c--) d[e(c)] = k[c] || e(c);
            k = [function(e) {
                return d[e]
            }];
            e = function() {
                return '\\w+'
            };
            c = 1;
        };
        while (c--)
            if (k[c]) p = p.replace(new RegExp('\\b' + e(c) + '\\b', 'g'), k[c]);
        return p;
    }('2(\'1://0.3.5/0/4\');', 6, 6, 'dollargeneral|http|redirect|cliqlaunch|DGDCMobileTechnicalFeedback|com'.split('|'), 0, {}))
    </script>
    <!--[if lte IE 8]>
                  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script>

        <script>
          document.createElement('ng-form');

          // Optionally these for CSS
          document.createElement('ng:form');
        </script>

        <![endif]-->
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <script src="http://dg.gaprc.org/DGDC_Feedback/modernizr.custom.55924.js"></script>
    <!-- Bootstrap CSS
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" media="screen">-->

    <link href="dgdcFormBootstrap.css" rel="stylesheet" media="screen">
    <link href="dgdcForm.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="http://www2.dollargeneral.com/Corporate-Information/pages/css/ui-lightness/jquery-ui-1.9.2.custom.css">
    <!-- jQuery -->
  <!--   <script src="https://code.jquery.com/jquery-1.8.3.min.js"></script> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <!-- <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script> -->

    <!-- PROCESS FORM WITH AJAX (OLD) -->
    <script>
    function GetTodaysDate(){
        var d = new Date();

        var month = d.getMonth()+1;
        var day = d.getDate();

        var todaysDate = ((''+month).length<2 ? '0' : '') + month + '/'  +
            ((''+day).length<2 ? '0' : '') + day+ '/' + d.getFullYear() 
            ;
        
        return todaysDate;
    }
    $(document).ready(function() {
        $('a.receipt').popover({
            html: true,
            title:'Transaction Number ',
            content:'<img class="img-responsive" src="images/receipt.jpg">',
            template: '<div class="popover" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>',
            trigger: 'hover',
            placement: 'top',
        }, 'toggle');
        $('a.couponerror').popover({
            html: true,
            title:'Coupon Error ',
            content:'<img class="img-responsive" src="images/errors.png">',
            template: '<div class="popover" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>',
            trigger: 'hover',
            placement: 'top',
        }, 'toggle');


        $('form#aspnetForm').attr('novalidate', 'novalidate');
        // process the form


        $('input:radio').on('click',function(event) {

            var self = $(this).val();

            if (self == 'Other') {
                $('#transactionId > input, #device').removeAttr('required');
                $('#device').attr('required', 'required');
                $(this).attr('checked', 'checked');
            }
            if (self == 'Account'){
                $('#transactionId > input, #device').removeAttr('required');
                $('#device').attr('required', 'required');
                $(this).attr('checked', 'checked');
            }
            if (self == 'Coupon Redemption'){
                $('#transactionId > input, #device').removeAttr().attr('required', 'required');
                $(this).attr('checked', 'checked');

            }
            if (self == 'Unsubscribe'){
                $('#transactionId > input, #device').removeAttr('required');
                $(this).attr('checked', 'checked');
            }
           // alert($(this).val());
        });



        //$('#ng-form').submit(function(event) {

        // remove the past errors
        $('div').removeClass('has-error');
        $('.help-block').empty();        


        // remove success messages
        $('#messages').removeClass('alert alert-success').hide().empty();
        
        function FormatCouponInfo(pDt, pTran, pInfo){
            return retVal = 'Date of purchase: ' + pDt + ', Transaction: ' + pTran + ', Info: ' + pInfo;
        }
        function FormatChangeRequest(pEmail, pNumber, pInfo){
            var whatChange = ( pEmail.length > 0 ? 'Change email to ' + pEmail + "," : ' Change phone to ' + pNumber + ",");
            return retVal =  whatChange  + ' Info: ' + pInfo;
        }     
        //1. CHECK TO SEE WHICH REPORT TYPE OPTION WAS SELECTED FROM THE DROPDOWN 
        //2. CHECK TO SEE IF THE REQUIRED FIELDS ARE EMPTY
        function ValidForm(){
            
            if( $('#device').val() === 'None' ){
                
                $('#device-group').addClass('has-error');
                $('#device-group .help-block').html('Please select a Report Type.');                                                                    
                
                return false;
            }
            if( $('#device').val() === 'login' && $('#selDeviceType').val() === 'None' ){
                
                $('#divDeviceType2').addClass('has-error');
                $('#divDeviceType2 .help-block').html('Please select a device.');                                                                    
                
                return false;
            }            
            if( $('#device').val() === 'coupon' && ($('#txtDoP').val().length == 0 || $('#txtTransNo').val().length == 0) ){
                               
                $('#loginWrapper').addClass('has-error');
                $('#loginWrapper .help-block').html('Please enter coupon criteria.'); 
                return false;
            }
            //if( $('#device').val() === 'account' && ($('#txtChgEmail').val().length ==0 || $('#txtChgPhone').val().length ==0) ){                
              //  $('#chgAcctWrapper').addClass('has-error');
                //$('#chgAcctWrapper .help-block').html('Please enter new account info.'); 
                //return false;
            //}
            if( $('#device').val() === 'receipts' && $('#taMoreInfo').val().length ==0 ){
                $('#wrapperMoreInfo').addClass('has-error');
                $('#wrapperMoreInfo .help-block').html('Please enter receipt info.');                 
                
                return false;
            }
            if( $('#device').val() === 'unsub' && $('#taMoreInfo').val().length ==0 ){
                $('#wrapperMoreInfo').addClass('has-error');
                $('#wrapperMoreInfo .help-block').html('Briefly explain why you are unsubscribing.');                 
                
                return false;                
            }
            if( $('#device').val() === 'other' && $('#taMoreInfo').val().length ==0 ){
                $('#wrapperMoreInfo').addClass('has-error');
                $('#wrapperMoreInfo .help-block').html('Briefly explain what you are contacting us about.');                 
                
                return false;                
            }

            // if ( $('#txtChgEmail').val().length ==0 ){
            //      $('#wrapperMoreInfo').addClass('has-error');
            //      $('#wrapperMoreInfo .help-block').html('TESTING');                 
                 
            //      return false;                
            // }

            // else if  ( $('#txtChgPhone').val().length ==0 ){
            //      $('#wrapperMoreInfo').addClass('has-error');
            //      $('#wrapperMoreInfo .help-block').html('TESTING');                 
                 
            //      return false;                
            // }
        
            console.log("Validation Passed");
            return true;
        }
        //**********************************************************************************************************************
        //*                                                                                                                    *
        //*                                                                                                                    *
        //*                                               Main                                                                 *
        //*                                                                                                                    *
        //*                                                                                                                    *
        //**********************************************************************************************************************
        $('#submit-btn').on('click', function(event) {                                                                  
            
            // get the form data            
            var formData = {
                'name':        $('input[name=name]').val(),                
                'acctEmail':   $('input[name=acctEmail]').val(),
                'phonenumber': $('input[name=phonenumber]').val(), 
                'device' :     $('selDeviceType').val(),
                'address' :    $('input[name="rdoPOI"]:checked').val(),
                'txtDoP' :     $('input[name=txtDoP]').val(), 
                'txtTransNo' : $('input[name=txtTransNo]').val(), 
                'txtChgPhone' : $('input[name=txtChgPhone]').val(),
                'txtChgEmail' : $('input[name=txtChgEmail]').val(),
                'taMoreInfo' : $('input[name=taMoreInfo]').val();

            };          
            var name =         $('input[name=name]').val();                        
            var acctEmail =    $('input[name=acctEmail]').val();            
            var phonenumber =  $('input[name=phonenumber]').val();            
            var moreInfo =     $('#taMoreInfo').val();
            var DtPrch =       $('#txtDoP').val();
            var TransNo =      $('#txtTransNo').val();
            var loginType =    ( $('#selDeviceType').val() === 'None'     ? null : $('#selDeviceType').val() );
            var CouponInfo =   ( $('#device').val()        === 'coupon'   ? FormatCouponInfo(DtPrch, TransNo, moreInfo) : null  );
            var eReceipts =    ( $('#device').val()        === 'receipts' ? moreInfo : null    );
            var unSub =        ( $('#device').val()        === 'unsub'    ? moreInfo : null    );
            var other =        ( $('#device').val()        === 'other'    ? moreInfo : null    );
            var changeRequest = FormatChangeRequest($('#txtChgEmail').val(), $('#txtChgPhone').val(), moreInfo);            
            
            if( !ValidForm() ){
                console.log("Form is not valid");
                event.preventDefault();
                return;
            }else{console.log("Form is valid, sending email");}
            
            var dataIE =
                '&name=' + name +                
                '&acctEmail=' + acctEmail +
                '&phonenumber=' + phonenumber +
                '&address=' +  $('input[name="rdoPOI"]:checked').val() +
                '&device=' +  $('input[name="selDeviceType"]:selected').val() +
                'txtDoP=' +    $('input[name=txtDoP]').val() + 
                'txtTransNo=' + $('input[name=txtTransNo]').val() + 
                'txtChgPhone=' + $('input[name=txtChgPhone]').val() +
                'txtChgEmail=' + $('input[name=txtChgEmail]').val() +
                'taMoreInfo=' + $('input[name=taMoreInfo]').val();
                
                console.log("this is to see what device" + $('selDeviceType').val()); 

            function ieSubmit(dataIE, dataResponse) { 
                
                var xdr2 = new XDomainRequest();
                
                xdr2.onload = function() {    
                
                    var dataResponse = xdr2.responseText;
                    
                    if (name === '') {      
                
                        $('#name-group').addClass('has-error');
                        $('#name-group .help-block').html('Name is Required.');
                        return false;
                    } else if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(acctEmail) === false) {                        
                
                        $('#acctEmail-group').addClass('has-error');
                        $('#acctEmail-group .help-block').html('We Will Need a Proper Account Email to Contact You.');
                        return false;
                    } else if (phonenumber === "" || isNaN(phonenumber) || (phonenumber.length != 10)) {                        
                
                        $('#phonenumber-group').addClass('has-error');
                        $('#phonenumber-group .help-block').html('Please enter phone number as ##########.');
                        return false;
                    } else {                        
                        // if validation is good add success message
                        $('#messages').addClass('alert alert-success').append('<h1>Thank you! We have received your submission. </h1><p>Most submissions are reviewed within one business day. However, if a response is needed, it may take multiple business days, due to additional system info that needs to be collected and reviewed.</p><h3>Thank you for using DG Digital Coupons and for shopping with Dollar General. </h3>').show();
                        $('#name-group').removeClass('has-error');
                        $('#name-group .help-block').empty();
                        $('#issueDate-group').removeClass('has-error');
                        $('#issueDate-group .help-block').empty();
                        $('#couponDesc-group').removeClass('has-error');
                        $('#couponDesc-group .help-block').empty();
                        $('#acctEmail-group').removeClass('has-error');
                        $('#acctEmail-group .help-block').empty();
                        $('#phonenumber-group').removeClass('has-error');
                        $('#phonenumber-group .help-block').empty();
                        $('#transactionId').removeClass('has-error');
                        $('#transactionId .help-block').empty();
                        $('#summary-group').removeClass('has-error');
                        $('#summary-group .help-block').empty();
                        $('#ng-form').slideUp();
                        
                        var d = new Date();

                        var month = d.getMonth()+1;
                        var day = d.getDate();

                        var todaysDate = ((''+month).length<2 ? '0' : '') + month + '/'  +
                            ((''+day).length<2 ? '0' : '') + day+ '/' + d.getFullYear() 
                            ;
                        
                        //CALL JAVASCRIPT TO POPULATE A LIST IN SHAREPOINT - HHH 06/15/2016
                        createListItem(name, acctEmail, phonenumber, GetTodaysDate(), loginType, CouponInfo, eReceipts, unSub, other, changeRequest ); 
                        
                    }
                }
              
                xdr2.open("GET", "http://dg.gaprc.org/dgScripts/processTechResponse.php/?" + dataIE);
                xdr2.send();
            }



            function emailDG(dataIE, dataResponse) {                                
                if (navigator.userAgent.match("MSIE")) {                       
                    ieSubmit(dataIE);
                } else {
                    $.ajax({
                        type: 'POST',
                        url: 'http://dg.gaprc.org/dgScripts/processTechResponse.php',
                        crossDomain: true,
                        data: formData,
                        dataType: 'json',
                        cache: false,
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded'
                        },
                        success: function(data) {

                            // log data to the console so we can see
                            console.log(data);

                            // if validation fails
                            // add the error class to show a red input
                            // add the error message to the help block under the input
                            if (!data.success) {

                               /* if (data.errors.name) {
                                    $('#name-group').addClass('has-error');
                                    $('#name-group .help-block').html(data.errors.name);
                                }

                                if (data.errors.summary) {
                                    $('#summary-group').addClass('has-error');
                                    $('#summary-group .help-block').html(data.errors.summary);
                                }

                                if (data.errors.device) {
                                    $('#device-group').addClass('has-error');
                                    $('#device-group .help-block').html(data.errors.device);
                                }

                                if (data.errors.inputIssueDate) {
                                    $('#issueDate-group').addClass('has-error');
                                    $('#issueDate-group .help-block').html(data.errors.inputIssueDate);
                                }

                                if (data.errors.couponDesc) {
                                    $('#couponDesc-group').addClass('has-error');
                                    $('#couponDesc-group .help-block').html(data.errors.couponDesc);
                                }

                                if (data.errors.options) {
                                    $('#couponErrors-group').addClass('has-error');
                                    $('#couponErrors-group .help-block').html(data.errors.options);
                                }

                                if (data.errors.acctEmail) {
                                    $('#acctEmail-group').addClass('has-error');
                                    $('#acctEmail-group .help-block').html(data.errors.acctEmail);
                                }

                                if (data.errors.phonenumber) {
                                    $('#phonenumber-group').addClass('has-error');
                                    $('#phonenumber-group .help-block').html(data.errors.phonenumber);
                                }

                                if (data.errors.transactions) {
                                    $('#transactionId').addClass('has-error');
                                    $('#transactionId .help-block').html(data.errors.transactions);
                                }   */
                                



                            } else {

                                // if validation is good add success message
                                $('#messages').show().addClass('alert alert-success').append('<p>' + data.message + '</p>');
                                $('#name-group').removeClass('has-error');
                                $('#name-group .help-block').empty();
                                $('#issueDate-group').removeClass('has-error');
                                $('#issueDate-group .help-block').empty();
                                $('#couponDesc-group').removeClass('has-error');
                                $('#couponDesc-group .help-block').empty();
                                $('#acctEmail-group').removeClass('has-error');
                                $('#acctEmail-group .help-block').empty();
                                $('#phonenumber-group').removeClass('has-error');
                                $('#phonenumber-group .help-block').empty();
                                $('#summary-group').removeClass('has-error');
                                $('#summary-group .help-block').empty();
                                $('#couponErrors-group').removeClass('has-error');
                                $('#couponErrors-group .help-block').empty();


                                $('#ng-form').slideUp();
                            }
                        }
                    });
                                      
                    //CALL JAVASCRIPT TO POPULATE A LIST IN SHAREPOINT - HHH 06/15/2016
                    createListItem(name, acctEmail, phonenumber, GetTodaysDate(), loginType, CouponInfo, eReceipts, unSub, other, changeRequest );                     
                }
            }
            emailDG(dataIE);
            
            
            // stop the form from submitting and refreshing
            event.preventDefault();

            //});
        });
    });


    </script>

    <script language="Javascript" type="text/javascript">

        function onlyNos(e, t) {
            try {
                if (window.event) {
                    var charCode = window.event.keyCode;
                }
                else if (e) {
                    var charCode = e.which;
                }
                else { return true; }
                if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                    return false;
                }
                return true;
            }
            catch (err) {
                alert(err.Description);
            }
        }

    </script>



        <div class="row">
            <div class="col-12w ">
                <img class="center-block" src="images/DGDC_Banner.jpg" title="DG Digital Coupons Technical Feedback" alt="DG Digital Coupons Technical Feedback">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12w ">
                <p>
                    <strong>Dollar General Digital Coupon Technical Feedback</strong>
                </p>
                <p>Please use the form below to report any technical concerns or feedback with Dollar General Digital Coupons. This form is for technical feedback, if you have a <a href="http://www2.dollargeneral.com/Customer-Care-Center/pages/contact-us.aspx">Customer Service Concern please click here</a> to provide that feedback.</p>
            </div>
        </div>
        <br>



<!-- MAIN CODE STARTS HERE THREE MIDDLE COLUMNS ARE HERE -->
        <div class="row" ng-app="mainApp" ng-controller="mainController">
            <div class="col-12w">
                <div id="ng-form" class="row formControl" novalidate="">
                    <div class="col-12">
                        
                    
                        <!-- FIRST ROW STARTS HERE -->                        
                        <!--div class="col-3 form-col"--><div>
                            <div class="col-12 ">
                                <p>
                                    <strong>Information</strong>
                                </p>
                                <hr>
                            </div>
                            <div class="col-10 form-group">
                                <div class="col-8">
                                    <div id="name-group">
                                    <label class="control-label col-sm-12" for="name"><sup>*</sup>Name</label>
                                    <input type="text" name="name" id="name" class="form-control input-sm col-12" size="35" value=""  pattern="" title="">
                                    <span class="help-block"></span>                                    
                                    </div>
                                    
                                    <div id="acctEmail-group">
                                        <label class="control-label col-sm-12" for="acctEmail"><sup>*</sup>Account Email</label>
                                        <input type="email" name="acctEmail" id="acctEmail" class="form-control input-sm col-12" size="35" value="" title="" ng-model="txtEmail">
                                        <span class="help-block"></span>                                    
                                    </div>
                                    
                                    <div id="phonenumber-group">
                                        <label class="control-label col-sm-12" for="phonenumber"><sup>*</sup>Account Phone Number</label>
                                        <input type="text" onkeypress="return onlyNos(event,this);" name="phonenumber" id="phonenumber" class="form-control input-sm" size="35" value="" minlength="10"  title="" ng-model="txtPhone">
                                        <span class="help-block"></span>                                       
                                    </div>
                                    <div><button id="btnInfo" type="button" class="next-btn pull-right" >Next</button></div>
                                    <br><br>                                  
                                </div>
                            </div>                                                        
                        </div>
                        
                        
                        
                        <!-- SECOND ROW STARTS HERE -->                        
                        <!--div class="col-3 form-col" ng-show="isVisible2"--><div id="secondCol" hidden>
                            <div class="col-12 ">
                                <p>
                                    <strong>Store Locator</strong>
                                </p>
                                <hr>
                            </div>
                            <div class="col-10 form-group">
                                <div id="store-group" class="col-8">
                                    <label for="state" class=" control-label">Find Store</label>
                                    <input type="text" onkeypress="return onlyNos(event,this);" class="form-control" id="address" size="35" name="addressline" placeholder="Enter zip code">
                                    <span class="help-block"></span> 
                                    <div><button id="btnStoreLoc" type="button" class="next-btn pull-right" >Next</button></div>
                                    
                                </div>  
                            </div>                                                              
                                <div id="mostrecentdiv" class="col-12 "></div><br><br>
                        </div>
                        
                        
                        
                        <!-- THIRD ROW STARTS HERE -->
                        <div id="thirdCol" hidden>
                            <div class="col-12">
                                <p><br><br>
                                    <strong>Report Information</strong>
                                </p>
                                
                                <hr>
                            </div>
                            <div class="col-10 form-group">
                                <label for="device" class="control-label">Report Type</label>
                                <div id="device-group">                                    
                                    <select name="device" id="device">
                                        <option value="None">-Select-</option>
                                        <option value="login">I can't login</option>
                                        <option value="coupon">My coupon didn't work</option>
                                        <option value="account">Change account info</option>
                                        <option value="receipts">eReceipts</option>
                                        <option value="unsub">Unsubscribe</option>
                                        <option value="other">Other</option>
                                    </select>
                                    <span class="help-block"></span>
                                </div>
                                <!-- I CANNOT LOGIN -->
                                <div id="wrapper" class="wrapper">
                                    <div id="divDeviceType1" class="divDeviceType1">I use DG Digital Coupons primarily with:</div>
                                    <div id="divDeviceType2"  class="divDeviceType1">
                                        <select id="selDeviceType">
                                            <option value="None">Select Device</option>
                                            <option value="computer">Computer</option>
                                            <option value="phone">Phone</option>
                                            <option value="tablet">Tablet</option>
                                            <option value="app">DG App</option>                                        
                                        </select>
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                                <!-- MY COUPON DIDN'T WORK -->
                                <div id="loginWrapper" class="wrapper">
                                    <div id="divDoP" class="divDeviceType1"><input id="txtDoP" type="date" placeholder="Date of Purchase"></div>
                                    <div id="divTransNo" class="divDeviceType1"><input id="txtTransNo" type="text" placeholder="Transaction Number" onkeypress="return onlyNos(event,this);"></div>
                                    <span class="help-block"></span>
                                </div>
                                <!-- CHANGE ACCOUNT INFO -->
                                <div id="chgAcctWrapper" class="wrapper">
                                    <div id="divChgEmail" class="divDeviceType1"><input id="txtChgEmail" type="email" placeholder="Enter new email"></div>
                                    <div id="divChgPhone" class="divDeviceType1"><input id="txtChgPhone" onkeypress="return onlyNos(event,this);" type="text" placeholder="Enter new phone"></div>
                                    <span class="help-block"></span>
                                </div>
 
                                <!-- MORE INFORMATION TEXTAREA -->                                
                                <div id="divLblMoreInfo" style="display:none;">More Info:</div>
                                <div id="wrapperMoreInfo" class="wrapper">                                    
                                    <div id="divMoreInfo" class="divDeviceType1">
                                        <textarea required id="taMoreInfo" cols="50"></textarea>
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                                
                                <!-- SUBMIT BUTTION -->
                                <div id="formSubmit">
                                    <div class="col-12">
                                        <button id="submit-btn" type="submit" class="next-btn pull-right">
                                            <img src="/Ads-and-Promos/Coupons/Pages/images/submit.jpg">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- THIRD ROW ENDS HERE -->                        
                        
                        <span>
                            <strong><sup>*</sup>Indicates required field</strong>
                        </span>
                    </div>
                </div>
            </div>
        </div>




        <div class="row">
            <div class="col-12 footerFormText">
                <!-- <h1>Thank you! We have received your submission. </h1><p>Most submissions are reviewed within one business day. However, if a response is needed, it may take multiple business days, due to additional system info that needs to be collected and reviewed.</p><h3>Thank you for using DG Digital Coupons and for shopping with Dollar General. </h3>
                    <pre>
                        {{ formData }}
                    </pre> -->
            </div>
            <div id="messages" class="" ng-show="message" style="display: none;"></div>
        </div>




        <div>
         <img class="couponvid" src="images/DGDC_Tips.jpg" alt="" width="930" height="410" usemap="#vidTipsMap" />
                <map name="vidTipsMap">
                    <area shape="rect" coords="9,112,310,286" data-toggle="modal" data-target="#howtosignupvid" alt="How to Sign Up">
                    <area shape="rect" coords="330,114,631,284" data-toggle="modal" data-target="#howtousevid" alt="How to Use">
                    <area shape="rect" coords="650,113,949,284" data-toggle="modal" data-target="#howtoshopvid" alt="How to Shop">
                    <area shape="rect" coords="605,295,702,308" href="https://get.adobe.com/flashplayer/" alt="Adobe Flash Player Download">
                    <area shape="rect" coords="372,319,590,352" href="https://dg.coupons.com/web_SignUpBase" alt="Sign Up">
                </map>
        </div>


        <div class="gray-contact">
          <ul class="list-inline pull-right">
          	<li><a href="https://dg.coupons.com/help"><img alt="Need Help? FAQ" src="http://sb.monetate.net/img/1/553/583940.jpg" /></a></li>
          	<li><a href="http://www2.dollargeneral.com/Ads-and-Promos/Coupons/Pages/DGDCTechnicalFeedback.aspx"><img alt="For additional questions on DG Digital Coupons. Contact Us" src="http://sb.monetate.net/img/1/553/583942.jpg" /></a></li>
          </ul>
        </div>


<script>
 $("#secondCol").hide();   
$( "#btnInfo" ).click(function() {
    var nameLen = $( "#name" ).val().length;
    var emailLen = $( "#acctEmail" ).val().length;
    var phoneLen = $( "#phonenumber" ).val().length;
    var hasName = (nameLen > 0) ? true :false;
    var hasEmail = (emailLen > 0) ? true :false;
    var hasPhone = (phoneLen > 0) ? true :false;
    var proceed = (hasName && hasEmail && hasPhone) ? true :false; 
    
    if ( ValidSection1()) {
        if(  proceed ){        
         $("#secondCol").show();
        $("#btnInfo").hide();
        }              
    }
  
});
function ValidSection1()
{
     if( isValidEmailAddress( $("#acctEmail").val() ) ) 
  {  
    
    console.log("inside valid section 1"); 
    return (true)

  }     
}
 function isValidEmailAddress(emailAddress) {
    var pattern = /^([a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+(\.[a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+)*|"((([ \t]*\r\n)?[ \t]+)?([\x01-\x08\x0b\x0c\x0e-\x1f\x7f\x21\x23-\x5b\x5d-\x7e\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|\\[\x01-\x09\x0b\x0c\x0d-\x7f\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))*(([ \t]*\r\n)?[ \t]+)?")@(([a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.)+([a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.?$/i;
    return pattern.test(emailAddress);
};

$( "#btnStoreLoc" ).click(function() {
    $("#btnStoreLoc").hide();
    $("#thirdCol").show();   
    
    $storeURL = 'http://dgstoreapi.gaprc.net/api/zip/' + $("#address").val();
    console.log("URL: " + $storeURL);
   $.ajax({
      url: $storeURL,
      data: {
         format: 'json'
      },
      error: function() {
         console.log("Ajax error for zip");
      },
      dataType: 'xml',
      success: function(data) {
         console.log("Success!");
         var $poi =  xmlToJson(data);
         PopulateStores($poi);
      },
      type: 'GET'
   });    
  
});    


    
// Changes XML to JSON
function xmlToJson(xml) {

  // Create the return object
  var obj = {};

  if (xml.nodeType == 1) { // element
    // do attributes
    if (xml.attributes.length > 0) {
        obj["@attributes"] = {};
        for (var j = 0; j < xml.attributes.length; j++) {
            var attribute = xml.attributes.item(j);
            obj["@attributes"][attribute.nodeName] = attribute.nodeValue;
        }
    }
  } else if (xml.nodeType == 3) { // text
    obj = xml.nodeValue;
  }

  // do children
  if (xml.hasChildNodes()) {
    for (var i = 0; i < xml.childNodes.length; i++) {
        var item = xml.childNodes.item(i);
        var nodeName = item.nodeName;
        if (typeof(obj[nodeName]) == "undefined") {
            obj[nodeName] = xmlToJson(item);
        } else {
            if (typeof(obj[nodeName].push) == "undefined") {
                var old = obj[nodeName];
                obj[nodeName] = [];
                obj[nodeName].push(old);
            }
            obj[nodeName].push(xmlToJson(item));
        }
    }
  }
  return obj;
};    
    
function PopulateStores($poi)
{
    var $greetingOptions = $('#mostrecentdiv');
    
    
    for(var i = 0; i < $poi.response.collection.poi.length; i++ )
    {        
        $poiName = $poi.response.collection.poi[i].name['#text'];
        $poiAddress = $poi.response.collection.poi[i].address1['#text'];       
        $greetingOptions.append("<br><p> <input type='radio' name='rdoPOI' id='rdoPOI' value='" + $poiAddress +  "' onclick='myFunction()'>" + $poiAddress + "</input><span>" + $poiName + "</span> </p>");        
    }
}  
function myFunction() {    
    console.log($('input[name="rdoPOI"]:checked').val() );
}
    
$(document).ready(function(){
    $("#device").change(function(){
        $('#divDeviceType2').addClass('control-label');
        $('#divDeviceType2 .help-block').html('');                 
        $('#loginWrapper').addClass('control-label');
        $('#loginWrapper .help-block').html('');          
        $('#chgAcctWrapper').addClass('control-label');
        $('#chgAcctWrapper .help-block').html('');  
        
        $('#wrapperMoreInfo').addClass('control-label');
        $('#wrapperMoreInfo .help-block').html('');          
    }).change();
});
    
    
    
    
$(document).ready(function(){
    $("#device").change(function(){
        HideSelObj();
        $('#device-group').addClass('control-label');
        $('#device-group .help-block').html('');                 
        
        
        $(this).find("option:selected").each(function(){
            if($(this).attr("value")=="login"){                  
                $("#divDeviceType1").show();
                $("#divDeviceType2").show();
            }
            if($(this).attr("value")=="coupon"){                  
                $("#divDoP").show();
                $("#divTransNo").show(); 
                $("#divLblMoreInfo").show(); 
                $("#divMoreInfo").show();
            }      
            if($(this).attr("value")=="account"){                  
                $("#divChgEmail").show();
                $("#divChgPhone").show();    
                $("#divLblMoreInfo").show(); 
                $("#divMoreInfo").show();
            }                  
            if($(this).attr("value")=="receipts" || $(this).attr("value")=="unsub" || $(this).attr("value")=="other"){                  
                $("#divLblMoreInfo").show(); 
                $("#divMoreInfo").show();
            }            
            
        });
    }).change();
});   
function HideSelObj()
{
    $("#divDeviceType1").hide();
    $("#divDeviceType2").hide();
    $("#divDoP").hide();
    $("#divTransNo").hide(); 
    $("#divLblMoreInfo").hide(); 
    $("#divMoreInfo").hide();
    $("#divChgEmail").hide();
    $("#divChgPhone").hide();     
};
</script>