<% require 'active_support/all' %>
<% data.duanereade.dr_86198_DR_Week4_042516_Weekly_1B.dr_86198_DR_Week4_042516_Weekly_1B.each{|variable, value| instance_variable_set("@base_#{variable}", value)} %>
<html><body>
If you are having trouble viewing this email, click here :<BR>
<A HREF="http://%%track%%/topwebview?t_params=%%t_params%%">http://%%track%%/topwebview?t_params=%%t_params%%</A><BR>
<br/>


<!-- Articles -->
<% data.duanereade.dr_86198_DR_Week4_042516_Weekly_1B.dr_86198_DR_Week4_042516_Weekly_1B.articles.each do |f| %>
<br /><br />
<a href="<%= f["url"] %>">"><%= f["img_alt"] %></a><br />

<% end %>


This email was sent by: Duane Reade Holdings, Inc., 40 Wall Street,<BR>
New York, NY 10005<BR>
<BR>
Privacy Policy : <BR>
<A HREF="http://%%track%%/footpriv">http://%%track%%/footpriv</A><BR>
Refer A Friend :<BR>
<A HREF="http://%%track%%/footrefer?RAF_TRACK=%%RAF_TRACK%%&email=%%email%%">http://%%track%%/footrefer?RAF_TRACK=%%RAF_TRACK%%&email=%%email%%</A> <BR>
Unsubscribe/Preferences : <BR>
<A HREF="http://%%track%%/footunsub?email=%%email%%">http://%%track%%/footunsub?email=%%email%%</A>
</body></html>