<html>
<head>
	
	<style>
	  ul, li {list-style: none;}
	  ul {margin: 0 0 1em 0; padding:0 0 0 0.5em;}
	  li {margin: 0 0 0.2em 0; padding:0 0 0 0.3em;}
	  h1,h2,h3,h4,h5,h6 {margin-bottom:0;}
	  .welcome {color: #333;}
	  h2 {color:#555; margin: 0.2em 0 0 0; font-size:18px;}
	  p {margin:0;}
	</style>
	
</head>
 <body>
 <div class="welcome">
<h1>Email Proofs</h1>
 
<br/>
<hr/>
<%  directories = Dir.entries("./build") 
    directories.reject! {|item| item =~ /\.\/build\/index.html|snippets|examples|content_template|\.|\.\.|images|index\.html|javascripts|stylesheets/i }
    directories.each do |directory_name| 
%>
<h2><%= directory_name %></h2>
<br/>
    <ul>
    <%     
        files = Dir.glob("./build/"+directory_name+"/**/*.html")
        files.reject! {|item| item =~ /\.\/build\/index.html|snippets|examples|content_template/i }
        files.each do |file_name| 
        file_contents = IO.read(file_name)
        file_title = /(\<title\>)(.*)(\<\/title\>)/.match(file_contents)[2]
    %>
        <li><a href="<%= file_name[('./build/').length,file_name.length] %>"><%= file_name[('./build/'+directory_name+'/').length,file_name.length] %></a> - <%= file_title %></li>
    <% end %>
    </ul>
<hr/>
<br/>
 <% end %>
 </div><!-- .welcome -->
</body>